.client-card {
  background: #eef1f9;
  position: relative;

  .client-details {
    background-color: #FFFFFF;
  }
}

.has-tag::after {
  background: #FFFFFF;
  content: ' ';
  display: block;
  height: 20px;
  position: absolute;
  top: 100px;
  left: -5px;
  transform: rotate(45deg);
  width: 20px;
}
